body{
    font-family: sans-serif;
    background-color: #fff;
    text-align: center;
    display: inline;
    height: 1024px;
    width: 1024;
}

.signup{
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 23.5%;
    left: 46%;
    color: rgb(0, 0, 0);
}

.signupbox{
    z-index: 1;
    position: absolute;
    height: 50vh;
    width: 40vh;
    background: rgba(143, 143, 143, 0.25);
    box-shadow: 0 8px 32px 0 rgba(54, 54, 54, 0.37);
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border-radius: 6px;
    left: 40%;
    top: 22%;
}

.hasacchref{
    cursor: pointer;
    text-decoration: underline;
}

.hasacc{
    text-decoration: none;
    font-weight: thin;
    font-size: 20px;
    z-index: 2;
    position: absolute;
    top: 73%;
    left: 41%;
    color: rgb(0, 0, 0);
}

.email{
    z-index: 9;
    position: absolute;
    height: 5vh;
    width: 30vh;
    background: #eee;
    border-radius: 6px;
    border: none;
    left: 43.5%;
    top: 45%;
    font-weight: normal;
    text-align: left;
}

.Password{
    z-index: 4;
    position: absolute;
    height: 5vh;
    width: 30vh;
    background: #eee;
    border-radius: 6px;
    border: none;
    left: 42.5%;
    top: 45%;
    font-weight: normal;
    text-align: left;
}

.Password0{
    z-index: 4;
    position: absolute;
    height: 5vh;
    width: 30vh;
    background: #eee;
    border-radius: 6px;
    border: none;
    left: 42.5%;
    top: 55%;
    font-weight: normal;
    text-align: left;
}

.name{
    z-index: 4;
    position: absolute;
    height: 5vh;
    width: 30vh;
    background: #eee;
    border-radius: 6px;
    border: none;
    left: 42.5%;
    top: 35%;
    font-weight: normal;
    text-align: left;
}


.createacc{
    z-index: 4;
    text-align: center;
    background: linear-gradient(150deg, #35a6e8, #0828b7);
    color: transparent;
    background-clip: button-box;
    -webkit-background-clip: button-box;
    -moz-background-clip: button-box;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    margin: 4px 2px;
    cursor: pointer;
    width: 30vh;
    height: 5vh;
    position: absolute;
    left: 42.5%;
    top: 63%;
}

.blob0{
    height: 30vh;
    width: 30vh;
    background-color: #2c50f0;
    border-radius: 50%;
    position: absolute;
    top: 11%;
    left: 50%;
}

.blob1{
    height: 30vh;
    width: 30vh;
    background-color: rgb(51, 173, 255);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 35%;
}

a:link{
    color: rgb(0, 0, 0)
}

a:visited{
    color: rgb(0, 0, 0)
}

a:hover{
    color: rgb(54, 54, 54)
}

a:active{
    color: rgb(0, 0, 0);
}

