*{
    font-family: 'Roboto', sans-serif;
}

body, html{
    text-align: center;
    display: flex;
    height: 100%;
}

body{
    text-align: center;
    height: 2500px;
    width: 1024px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

/* we will be transferring to vh for positioning replacing px */

.title{
    z-index: 2;
    text-align: center;
    background-image: linear-gradient(90deg, #35a6e8, #0828b7);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 700px;
    display: flex;
}

.london{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2000px;
}

.topName{
    font-family: poppins;
    font-weight: normal;
    position: absolute;
    top: 20px;
    left: -410px;
}

.q0{
    text-align: left !important;
    font-size: 70px;
    font-family: poppins;
    position: absolute;
    top: 750px;
    right: 100px;
    left: 10px;
}