body{
    text-align: center;
    display: flex;
    font-family: sans-serif;
    height: 720px;
    width: 1024px;
}

.title{
    background: linear-gradient(90deg, #35a6e8, #0828b7);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    color: transparent;
    font-size: 15vh;
    position: absolute;
    top: 1%;
    right: 35%
}

.joke0{
    color: #000000;
    position: absolute;
    top: 52%;
    right: 27%;
    font-size: 2vh
}

.return{
    font-size: 35px;
    display: inline-block;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 60%;
    right: 32%;
}

a:link{
    color: #000000
}

a:visited{
    color: #000000
}

a:hover{
    color: #363636
}

a:active{
    color: #000000
}
