*{
    font-family: 'Roboto', sans-serif;
}

body, html{
    text-align: center;
    display: flex;
    height: 100%;
}

body{
    text-align: center;
    width: 1024px;
    height: 2500px;
    background-color: rgb(255, 255, 255);
    display: flex;
}


.title{
    z-index: 2;
    text-align: center;
    background-image: linear-gradient(90deg, #35a6e8, #0828b7);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    position: absolute;
    font-size: 10vh;
    top: 10%;
    left: 10%;
    display: flex;
}

.london{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.75;
}

.topName{
    z-index: 3;
    font-weight: normal;
    position: absolute;
    top: 10px;
    left: 30px;
    color:rgba(65, 63, 63, 0.774);
    font-weight: normal;
    font-size: 1.5vh;
}

.button0{
    font-weight: bold;
    text-align: center;
    z-index: 3;
    background: linear-gradient(150deg, #35a6e8,  #0828b7);
    color: transparent;
    background-clip: button-box;
    -webkit-background-clip: button-box;
    -moz-background-clip: button-box;
    -ms-background-clip: button-box;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    position: absolute;
    right: 0px;
    left: 850px;
    top: 350px;
}

.egMap{
    position: absolute;
    top: 115%;
    right: 0%;
    border-radius: 16px 0px 0px 0px;
    background: linear-gradient(150deg, #fff, transparent);
}

.para0{
    text-align: left !important;
    position: absolute;
    top: 110%;
    left: 5%;
    font-weight: bold;
    font-size: 10vh;
    z-index: 4;
}

.frostBox{
    height: 30vh;
    width: 65vh;
    background: rgba( 74, 144, 226, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 205%;
    left: 5%;
}

.featuretext{
    position: absolute;
    top: 199.5%;
    left: 6%;
    z-index: 4;
    font-size: 10vh;
}

.featurePara{
    position: absolute;
    top: 215%;
    left: 6%;
    z-index: 4;
    font-size: 3vh;
}