body{
    font-family: sans-serif;
    background: linear-gradient(90deg, #35a6e8, #0828b7) fixed;
    background-clip: none;
    -webkit-background-clip: none;
    text-align: center;
    display: inline;
    height: 1024px;
    width: 1024;
}

.signin{
    z-index: 2;
    text-align: center;
    position: absolute;
    top: 210px;
    right: 880px;
    background: linear-gradient(90deg, #35a6e8, #0828b7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.signinbox{
    z-index: 1;
    position: absolute;
    height: 50vh;
    width: 40vh;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(2px 4px 2px #313135);
    border-radius: 6px;
    right: 750px;
    top: 200px;
}

.noacc{
    text-decoration: none;
    font-weight: thin;
    font-size: 20px;
    z-index: 2;
    position: absolute;
    top: 73%;
    right: 770px;
    color: white;
}

.welcome{
    font-size: 7vh;
    position: absolute;
    top: 8%;
    right: 36%;
    color: white;
}


.email{
    z-index: 9;
    position: absolute;
    height: 5vh;
    width: 30vh;
    background: #eee;
    border-radius: 6px;
    border: none;
    right: 800px;
    top: 325px;
    font-weight: bold;
    text-align: left;
}

.Password{
    z-index: 4;
    position: absolute;
    height: 5vh;
    width: 30vh;
    background: #eee;
    border-radius: 6px;
    border: none;
    right: 800px;
    top: 425px;
    font-weight: bold;
    text-align: left;
}

.signin0{
    font-weight: bold;
    text-align: center;
    z-index: 3;
    background: linear-gradient(150deg, #35a6e8,#0828b7);
    color: transparent;
    background-clip: button-box;
    -webkit-background-clip: button-box;
    -moz-background-clip: button-box;
    -ms-background-clip: button-box;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 0px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 525px;
    right: 870px;
    text-decoration: none !important;
}


a:link{
    color: white
}

a:visited{
    color: white
}

a:hover{
    color: white
}

a:active{
    color: white;
}